#customer-select.busy .spinner-border { display:inline-block !important; }
#payment-form.busy .spinner-border { display:inline-block !important; }
#btn-payment-confirm.busy .spinner-border { display:inline-block !important; }
